ul{
    margin: 20px 20px;
}

.Tools{
    width: 70px;
    height: 100%;
    background-color: rgba(205, 205, 205, 0.5);
    border-radius: 15px;
    padding: 5px 0;
    margin-right: 20px;
}

.Tool{
    margin-top: 10px;
}

.Tool:hover{
    background-color: #dddddd;
    cursor: pointer;
}

.toolIcon{
    color: #8f8f8f;
}

.toolSelected{
    color: #439834
}


.toolsettings{
    position: absolute;
    left: 80px;
    top: 0;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
    min-width: 300px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    display: none;
}

.toolsOpen{
    display: block;
}
.toolsClose{
    display: none;
}

.colorPicker{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -14px;
    margin-bottom: -14px;
    margin-left: 15px;
}

.colorItem{
    width: 28px;
    height: 28px;
    margin-right: 14px;
    margin-bottom: 14px;
    transform: scale(1);
    transition: transform 100ms ease;
}

.colorInside{
    width: 28px;
    height: 28px;
    margin-right: 14px;
    margin-bottom: 14px;
    transform: scale(1);
    transition: transform 100ms ease;
    background-color: #439834;
    border-radius: 100%;
}

.colorInside:active{
    width: 30px;
    height: 30px;
}